<nav class="menu-sidebar">
  <div class="menu-logo">
    <img src="../../assets/imgs/generic-company-logo.png" alt="Logo da empresa">
  </div>
  <ul class="menu-list">
    <li class="menu-item">Funcionarios</li>
    <ul>
      <li class="menu-subitem"><a href="/funcionarios">Novo</a></li>
      <li class="menu-subitem"><a href="/funcionarios">Listar</a></li>
    </ul>
    <li class="menu-item">Projetos</li>
    <ul>
      <li class="menu-subitem"><a href="/projetos" class="menu-list-item-active">Novo</a></li>
      <li class="menu-subitem"><a href="/projetos">Listar</a></li>
    </ul>
  </ul>
</nav>
