<label class="form-label" for="ordem">Número da página</label>
<select name="ordem" #ordem>
  <option value="Status">Status</option>
  <option value="status_desc">Status decrescente</option>
  <option value="Nome">Nome</option>
  <option value="nome_desc">Nome decrescente</option>
</select><br>
<label class="form-label" for="paginaNumero">Número da página</label><input [(ngModel)]="paginaNumero" class="form-input" type="number" name="paginaNumero"><br>
<label class="form-label" for="paginaQuantidade">Quantidade de funcionários</label><input [(ngModel)]="paginaQuantidade" class="form-input" type="number" name="paginaQuantidade"><br>
<button class="btn" (click)="paginacaoFuncionarios(ordem.value, paginaNumero,paginaQuantidade)">Pesquisar</button>
<button class="btn btn-primary" (click)="clear()">Cancelar</button>
<hr>
<h2>Listagem dos funcionários</h2>
<h3 *ngIf="!this._httpService.funcionarios.length">Nenhum funcionário foi encontrado</h3>
<table *ngIf="this._httpService.funcionarios.length">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Status</th>
      <th>CPF</th>
      <th colspan="2">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let funcionario of _httpService.funcionarios">
      <td>{{funcionario.nome}}</td>
      <td>{{funcionario.status}}</td>
      <td>{{funcionario.cpf}}</td>
      <td (click)="editFuncionario(funcionario)">Editar</td>
      <td (click)="deleteFuncionario(funcionario)">Deletar</td>
    </tr>
  </tbody>
</table>
