<form>
  <div class="form-group">
    <label class="form-label" for="searchInput">Buscar projeto</label>
    <input [(ngModel)]="searchInput" (keyup)="searchProjetos(searchInput)" class="form-input" type="text" name="searchInput">
  </div>
  <button class="btn" (click)="clear()">Limpar</button>
</form>
<hr>
<h2>Listagem dos projetos</h2>
<h3 *ngIf="!this._httpService.projetos.length">Nenhum projeto foi encontrado</h3>
<table *ngIf="this._httpService.projetos.length">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Status</th>
      <th>Detalhe</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let projeto of _httpService.projetos">
      <td>{{projeto.nome}}</td>
      <td class="text-centered" >{{projeto.status}}</td>
      <td>{{projeto.detalhe}}</td>
      <td class="text-centered" (click)="listFuncionarios(projeto.id)"><img class="icon" src="../../../assets/imgs/icons/icons8-informações-32.png" alt="Detalhes"></td>
      <td class="text-centered" (click)="editProjeto(projeto)"><img class="icon" src="../../../assets/imgs/icons/icons8-editar-32.png" alt="Editar"></td>
      <td class="text-centered" (click)="deleteProjeto(projeto)"><img class="icon" src="../../../assets/imgs/icons/icons8-excluir-32.png" alt="Deletar"></td>
    </tr>
  </tbody>
</table>