<label class="form-label" for="searchInput">Buscar projeto</label><input [(ngModel)]="searchInput" (keyup)="searchProjetos(searchInput)" class="form-input" type="text" name="searchInput">
<button class="btn" (click)="clear()">Limpar</button>
<hr>
<h2>Listagem dos projetos</h2>
<h3 *ngIf="!this._httpService.projetos.length">Nenhum projeto foi encontrado</h3>
<table *ngIf="this._httpService.projetos.length">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Status</th>
      <th>Detalhe</th>
      <th colspan="2">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let projeto of _httpService.projetos">
      <td>{{projeto.nome}}</td>
      <td>{{projeto.status}}</td>
      <td>{{projeto.detalhe}}</td>
      <td (click)="editProjeto(projeto)">Editar</td>
      <td (click)="deleteProjeto(projeto)">Deletar</td>
    </tr>
  </tbody>
</table>