<h1>Projetos</h1>
<h2>Novo projeto</h2>
<form action="">
  <div class="form-group">
    <label class="form-label" for="name">Nome</label><input class="form-input" type="text" name="name" id="name">
  </div>
  <div class="form-group">
    <label class="form-label" for="status">Status</label><input class="form-input" type="number" name="status" id="status">
  </div>
  <div class="form-group">
    <label class="form-label" for="description">Descrição</label><input class="form-input" type="text" name="description" id="description">
  </div>
  <br>
  <button type="submit" class="btn">Criar</button>
  <button type="submit" class="btn btn-primary">Cancelar</button>
</form>

<h2>Listagem dos projetos</h2>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Status</th>
      <th>Detalhe</th>
      <th colspan="2">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let projeto of projetos">
      <td>{{projeto.id}}</td>
      <td>{{projeto.nome}}</td>
      <td>{{projeto.status}}</td>
      <td>{{projeto.detalhe}}</td>
      <td>Editar</td>
      <td>Deletar</td>
    </tr>
  </tbody>
</table>
