/**********/
/* Status */
/**********/
.success {
    background-color: $success-background-color;
    color: $success-color;
}

.warning {
    background-color: $warning-background-color;
    color: $warning-color;
}

.error {
    background-color: $error-background-color;
    color: $error-color;
}

.displayNone {
    height: 0px;
    transition: height 1s ease-out;
}