/**********/
/* Status */
/**********/
.success {
    background-color: $success-background-color;
    color: $success-color;
}

.warning {
    background-color: $warning-background-color;
    color: $warning-color;
}

.error {
    background-color: $error-background-color;
    color: $error-color;
}

.displayNone {
    display: none;
    transition: height 1s ease-out;
}

.collapse-target {
    height: auto;
    transition: max-height,opacity 666ms ease-in-out;
}

.collapsed {
    transform: scale(0, 0);
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.text-centered {
    text-align: center;
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}