@import "./variables.scss";
@import "./status.scss";

/*********/
/* Reset */
/*********/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input,
select:focus,
select:active {
    border:none;
    outline: none;
}

/********/
/* Base */
/********/
html {
    color: black;
    font-size: 1rem;
    font-family:'Roboto Slab', serif;
    background-color: $secondary-color;
    height: 100%;
}

body {
}

h1 {
    padding: 1rem;
    font-size: 2.5rem;
    border-bottom: 0.1rem solid black
}

h2 {
    margin-top: 1.5rem; 
    margin-right:0.5rem;   
    margin-bottom: 1rem;  
    margin-left:0.5rem;    
    font-size: 1.5rem;
}

h3 {
    margin-top: 1.5rem; 
    margin-right:0.5rem;   
    margin-bottom: 1rem;  
    margin-left:0.5rem;    
    font-size: 1.5rem;
}

table {
    background-color: rgb(243, 243, 243);
    width: 100%;
    vertical-align: middle;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
    thead {
        background-color: $primary-color;
    }
}

table {
    box-shadow: 0em 0.1em 0.5em;
}

th, td {
    vertical-align: middle;
    padding: 0.5em;
}

form {
    width: 100%;
    padding: 0.5em;
}

input, select {
    border-radius: 10px;
    padding: 1em;
    margin: 0.5em;
    font-family:'Roboto Slab', serif;
    font-weight: bold;
}

input:focus,
input:hover,
select:focus,
select:hover {
    box-shadow:inset 0em 0em 0em 0.2em rgb(146, 146, 146);
    outline: none;
    transition: box-shadow 666ms ease-in-out;
}

/**********/
/* Layout */
/**********/
//Container
.container {
    display: flex;
    height: 50%;
    @media (max-width: 769px) {
       // padding-top: 70px;
    }
}

.sidebar-content {
    box-sizing: border-box;
    @media (min-width: 769px) {
        height: calc(100vh - 70px);
        width: 20%;
    }
}

.main-content {
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 70px);
    padding: 0.5em 1.5em;
    @media (min-width: 769px) {
        overflow-y: auto;
        width: 80%;
        padding: 0.5em 2.5em 2em 2.5em;
    }
}

.shadow::after {
    position: absolute;
    content: "";
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.377);
    animation: fadeStart 666ms ease 0s ;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-12 { width: 100.0%; }
.col-11 { width: 91.66%; }
.col-10 { width: 83.33%; }
.col-9  { width: 75.00%; }
.col-8  { width: 66.66%; }
.col-7  { width: 58.33%; }
.col-6  { width: 50.00%; }
.col-5  { width: 41.66%; }
.col-4  { width: 33.33%; }
.col-3  { width: 25.00%; }
.col-2  { width: 16.66%; }
.col-1  { width: 08.33%; }

.col-m-12 { @media (max-width: $width-mobile) { width: 100.0%; }}
.col-m-11 { @media (max-width: $width-mobile) { width: 91.66%; }}
.col-m-10 { @media (max-width: $width-mobile) { width: 83.33%; }}
.col-m-9  { @media (max-width: $width-mobile) { width: 75.00%; }}
.col-m-8  { @media (max-width: $width-mobile) { width: 66.66%; }}
.col-m-7  { @media (max-width: $width-mobile) { width: 58.33%; }}
.col-m-6  { @media (max-width: $width-mobile) { width: 50.00%; }}
.col-m-5  { @media (max-width: $width-mobile) { width: 41.66%; }}
.col-m-4  { @media (max-width: $width-mobile) { width: 33.33%; }}
.col-m-3  { @media (max-width: $width-mobile) { width: 25.00%; }}
.col-m-2  { @media (max-width: $width-mobile) { width: 16.66%; }}
.col-m-1  { @media (max-width: $width-mobile) { width: 08.33%; }}

.col-t-12 { @media (max-width: $width-tablet) { width: 100.0%; }}
.col-t-11 { @media (max-width: $width-tablet) { width: 91.66%; }}
.col-t-10 { @media (max-width: $width-tablet) { width: 83.33%; }}
.col-t-9  { @media (max-width: $width-tablet) { width: 75.00%; }}
.col-t-8  { @media (max-width: $width-tablet) { width: 66.66%; }}
.col-t-7  { @media (max-width: $width-tablet) { width: 58.33%; }}
.col-t-6  { @media (max-width: $width-tablet) { width: 50.00%; }}
.col-t-5  { @media (max-width: $width-tablet) { width: 41.66%; }}
.col-t-4  { @media (max-width: $width-tablet) { width: 33.33%; }}
.col-t-3  { @media (max-width: $width-tablet) { width: 25.00%; }}
.col-t-2  { @media (max-width: $width-tablet) { width: 16.66%; }}
.col-t-1  { @media (max-width: $width-tablet) { width: 08.33%; }}

.col-d-12 { @media (min-width: $width-tablet) { width: 100.0%; }}
.col-d-11 { @media (min-width: $width-tablet) { width: 91.66%; }}
.col-d-10 { @media (min-width: $width-tablet) { width: 83.33%; }}
.col-d-9  { @media (min-width: $width-tablet) { width: 75.00%; }}
.col-d-8  { @media (min-width: $width-tablet) { width: 66.66%; }}
.col-d-7  { @media (min-width: $width-tablet) { width: 58.33%; }}
.col-d-6  { @media (min-width: $width-tablet) { width: 50.00%; }}
.col-d-5  { @media (min-width: $width-tablet) { width: 41.66%; }}
.col-d-4  { @media (min-width: $width-tablet) { width: 33.33%; }}
.col-d-3  { @media (min-width: $width-tablet) { width: 25.00%; }}
.col-d-2  { @media (min-width: $width-tablet) { width: 16.66%; }}
.col-d-1  { @media (min-width: $width-tablet) { width: 08.33%; }}

/*************/
/* Component */
/*************/
.section-subtitle {
    margin-top: 1.5rem; 
    margin-right:0.5rem;   
    margin-bottom: 1rem;  
    margin-left:0.5rem;    
    display: flex;
    align-content: center;
    justify-content: space-between;
    h2 {
        margin: 0;
    }
}

.section-subtitle:hover {
    cursor: pointer;
}

.message-alert {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-radius: 15px;
    width: auto;
    margin-bottom: 1em;
}

table.striped {
    tbody {
        >tr:nth-of-type(2n) {
            background-color: rgb(192, 192, 192);
        }
    }
    animation: 1s ease-out 0s 1 fadeStart;
}

.form-group {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.btn {
    box-sizing: border-box;
    text-transform: uppercase;
    font-family:'Roboto Slab', serif;
    font-weight: bold;
    border-radius: 10px;
    border: 0.15em solid;
    padding: 0.8em 1em;
    margin: 0.5em;
    box-shadow: 0px;
    cursor: pointer; 
    @media (max-width: 768px) {
        padding: 1em;
    }
}

.btn-primary {
    background-color: $primary-color;
}

.icon {
    max-width: 2em;
    max-height: 2em;
    cursor: pointer; 
}

.pointer {
    cursor: pointer; 
}

.simple-icon {
    max-width: 2em;
    max-height: 2em;
}

.icon-wiggle:hover {
    animation: wiggle 666ms ease 0s ;
}

.icon-resizing:hover {
    animation: resizing 666ms ease 0s ;
}

