/*************/
/* Variables */
/*************/
$primary-color: rgb(212, 80, 80);
$secondary-color: rgb(218, 218, 218);
$auxiliary-color: white;
$warning-background-color: rgb(255, 167, 5);
$warning-color: rgb(255, 186, 59);
$success-background-color: rgb(109, 168, 109);
$success-color: green;
$error-background-color: rgb(255, 139, 139);
$error-color:red;

$width-mobile: 425px;
$width-tablet: 768px;
$width-desk: 1024px;

/*************/
/* Keyframes */
/*************/
@keyframes fadeStart {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}