<h2 *ngIf="!this._httpService.editMode">Novo funcionário</h2>
<h2 *ngIf="this._httpService.editMode">Editar funcionário</h2>
<form>
  <div class="row">
    <div class="form-group col-6 col-m-12">
      <label class="form-label" for="nome">Nome</label>
      <input class="form-input" type="text" [(ngModel)]="this._httpService.funcionarioInput.nome" name="nome">
    </div>
    <div class="form-group col-3 col-m-6">
      <label class="form-label" for="cpf">CPF</label>
      <input [disabled]="this._httpService.editMode? true: false" class="form-input" type="number" [(ngModel)]="this._httpService.funcionarioInput.cpf" name="cpf">
    </div>
    <div class="form-group col-3 col-m-6">
      <label class="form-label" for="status">Status</label>
      <input class="form-input" type="number" [(ngModel)]="this._httpService.funcionarioInput.status" name="status">
    </div>
  </div>
    <button *ngIf="!this._httpService.editMode" type="button" class="btn" (click)="addFuncionario(this._httpService.funcionarioInput)">Criar</button>
    <button *ngIf="this._httpService.editMode" type="button" class="btn" (click)="editFuncionario(this._httpService.funcionarioInput)">Editar</button>
    <button type="button" class="btn btn-primary" (click)="clean()">Cancelar</button>
  </form>
<hr>