<h2 *ngIf="!this._httpService.editMode">Novo projeto</h2>
<h2 *ngIf="this._httpService.editMode">Editar projeto</h2>
<form action="">
  <div class="row">
    <div class="form-group col-10">
      <label class="form-label" for="nome">Nome*</label>
      <input class="form-input" type="text" [(ngModel)]="this._httpService.projetoInput.nome" name="nome">
    </div>
    <div class="form-group col-2">
      <label class="form-label" for="status">Status*</label>
      <input class="form-input" type="number" [(ngModel)]="this._httpService.projetoInput.status" name="status">
    </div>
    <div class="form-group col-12">
      <label class="form-label" for="detalhe">Detalhe*</label>
      <input class="form-input" type="text" [(ngModel)]="this._httpService.projetoInput.detalhe" name="detalhe">
    </div>
  </div>
  <button *ngIf="!this._httpService.editMode" type="button" class="btn" (click)="addProjeto(this._httpService.projetoInput)">Criar</button>
  <button *ngIf="this._httpService.editMode" type="button" class="btn" (click)="editProjeto(this._httpService.projetoInput)">Editar</button>
  <button type="button" class="btn btn-primary" (click)="clean()">Cancelar</button>
</form>
<hr>