<h1>Funcionarios</h1>
<h2>Novo funcionario</h2>
<form action="">
  <div class="form-group">
    <label class="form-label" for="name">Nome</label><input class="form-input" type="text" name="name" id="name">
  </div>
  <div class="form-group">
    <label class="form-label" for="description">CPF</label><input class="form-input" type="nuumber" name="description" id="description">
  </div>
  <div class="form-group">
    <label class="form-label" for="status">Status</label><input class="form-input" type="number" name="status" id="status">
  </div>
  <br>
  <button type="submit" class="btn">Criar</button>
  <button type="submit" class="btn btn-primary">Cancelar</button>
</form>
<h2>Listagem dos funcionarios</h2>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Status</th>
      <th colspan="2">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Item 1</td>
      <td>Item 2</td>
      <td>Item 3</td>
      <td>Item 4</td>
      <td>Editar</td>
      <td>Deletar</td>
    </tr>
    <tr>
      <td>Item 1</td>
      <td>Item 2</td>
      <td>Item 3</td>
      <td>Item 4</td>
      <td>Editar</td>
      <td>Deletar</td>
    </tr>
    <tr>
      <td>Item 1</td>
      <td>Item 2</td>
      <td>Item 3</td>
      <td>Item 4</td>
      <td>Editar</td>
      <td>Deletar</td>
    </tr>
  </tbody>
</table>
